{% extends 'base.html' %}
{% load static %}



{% block container %}
 <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=c39f5b5c698ec5d592fdf74f358ba7095eaaabe2'></script>
<script type="text/javascript" src="https://freevisitorcounters.com/en/home/counter/946729/t/0"></script>
{% load crispy_forms_tags %}
  <div class="container-fluid w-75">
      
      {% if form.profile.image %}
      <img src="{form_profile.image}" alt="">
      {% else %}
      <img src="{% static 'image/user.png' %}" alt="user_png">
      {% endif %}
          
    <img src="{form_profile.image}" alt="">
    <h1>{{profile.user}}</h1>
    <p>{{profile.user.email}}</p>
    <form action="" method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ form | crispy }}
      {{ form_profile | crispy }}
      <input type="submit" value="Update" class="btn btn-primary">
  </form>
  </div>
{% endblock container %}
