<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img{
        width: 140px;
        border-radius: 100%;
    }
    .profilepic{
        display: flex;

    }
    span{
        font-size: 2rem;
    }
</style>
<body>
{% extends 'base.html' %}
{% load static %}

{% block container %}

{% load crispy_forms_tags %}
    <div class="w-75 container-fluid pb-3">
    <img src="{% static 'image/user.png' %}" alt="user_png">
    <span>{{request.user}}</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data" class="container-fluid w-75">
        {% csrf_token %} 
        {{ user | crispy }} 
        <button type="submit" class="btn btn-danger">Upload</button>
        
    </form>
{% endblock container %}
</body>
</html>
    